{% extends 'base.html.twig' %}

{% form_theme passwordForm 'bootstrap_5_layout.html.twig' %}

{% block title %} Profil de l'utilisateur
{% endblock %}



{% block body %}


    <div class="row col-md-10">
	{{ form_start(passwordForm, { 'attr': {'class': 'row', 'novalidate': 'novalidate', } }) }}
    {{ form_row(passwordForm.oldpassword, {'row_attr': {'class': 'col-md-6'}}) }}
    {{ form_row(passwordForm.password, {'row_attr': {'class': 'col-md-6'}}) }}
    {{ form_row(passwordForm._token) }}

    <button type="submit" class="btn btn-succes mt-3"> Modifier mot de passe </button>


	{{ form_end(passwordForm, {render_rest: false}) }}
    {# render_rest false fait en sorte que les champs non écrits dans cette page ne s'afficheront pas dans ma page modify profile même si UserType a d'autres champs #}
    {# affiche pas le reste des autres champs dans mon formulaire #}

    </div>

{% endblock %}
